*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}
body{
    margin-top: 200px;
}
.container{
    max-width: 760px;
    margin: 0 auto;
}
.title{
    font-size: 25px;
}
.subtitle{
    font-size: 20px;
}
.details{
    font-size: 15px;
    color: grey;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: lightskyblue;
    color: #fff;
}
.header__title{
    font-weight: 600;
}
.navigation__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation__item{
    margin: 0px 5px;
}
.navigation__button{
    padding: 7.5px 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(173, 216, 230, 1);
    color: #fff;
    cursor: pointer;
}
.header-link{
    padding: 5px 10px;
    border-bottom: 1px solid lightgrey;
    background-color: rgb(240, 239, 239);
}
.hero__title{
    font-size: 35px;
}
.movies-inner{
    padding: 10px;
}
.temp{
    margin-top: 10px;
}
.temp li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    box-shadow: 0.5px 0.5px 2px 0.5px lightgray;
    padding: 10px;
    border-radius: 5px;
}
.temp__year{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px;
    gap: 10px;
}
.temp__year--box{
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.temp__year--box i{
    margin-right: 5px;
}
.temp__movie-info{
    display: flex;
    padding: 10px 0px;
}
.temp__movie-info span{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.temp__details{
    display: flex;
}
.temp__image{
    width: 65px;
    height: 80px;
    margin-right: 10px;
}
.temp__rating-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;
}
.temp__rating-info i{
    margin-bottom: 5px;
}
.temp__pages-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.temp__pages--input{
    margin: 0px 5px;
    width: 60px;
    padding: 5px;
}
.temp__pages--button{
    padding: 10px;
    border: none;
    box-shadow: 0.5px 0.5px 2px 0.5px lightgray;
    margin: 0px 10px;
    border-radius: 2.5px;
    cursor: pointer;
}
.temp__btn{
    width: 100%;
    padding: 10px;
    background-color: lightblue;
    color: #fff;
    border: none;
}
.temp__pages--button-2{
    background-color: lightskyblue;
    color: #fff;
}
.temp__pages--text{
    width: 35px;
    height: 35px;
    box-shadow: 0.5px 0.5px 2px 0.5px lightgray;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.temp__pages--text:hover{
    background-color: lightgray;
}
.footer-inner{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__right img:hover{
    box-shadow: 0px 0px 2px 2px lightblue;
}
.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 10px 10px;
}
.footer__card{
    width: 24%;
    height: 40px;
    border: 1px solid lightgray;
    background-color: rgb(255, 165, 0, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
.footer__card:hover{
    background: none;
}
.footer__card i{
    margin-right: 5px;
}

@media only screen and (max-width: 600px){
    .title{
        font-size: 20px;
    }
    .subtitle{
        font-size: 15px;
    }
    .details{
        font-size: 13px;
    }
    .hero__title{
        font-size: 25px;
    }
    .footer__top{
        font-size: 14px;
    }
    .temp__year{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 40px 40px 40px;
        gap: 10px;
    }
}