<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinovasek</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <header>
        <div class="container">
            <div class="header-inner">
                <span class="title header__title">Киновасек</span>
                <nav class="navigation">
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a href="login.html" class="navigation__link">
                                <button class="navigation__button subtitle">Войти</button>
                            </a>
                        </li>
                        <li class="navigation__item">
                            <a href="search.html" class="navigation__link">
                                <button class="navigation__button subtitle"><i class="fas fa-search"></i></button>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <div class="title hero__title">Фильмы на телефон</div>
                <div class="hero__categories">
                    <a href="novinki.html" class="hero__categories--link">
                        <i class="fas fa-star"></i>
                        <span>Новинки</span>
                    </a>
                    <a href="janr.html" class="hero__categories--link">
                        <i class="fas fa-film"></i>
                        <span>Жанры</span>
                    </a>
                    <a href="obnova.html" class="hero__categories--link">
                        <i class="fas fa-refresh"></i>
                        <span>Обнова</span>
                    </a>
                    <a href="comments.html" class="hero__categories--link">
                        <i class="fas fa-comment"></i>
                        <span>Отзывы</span>
                    </a>
                </div>
            </div>
        </section>
        <section class="movies">
            <div class="container">
                <div class="subtitle movies__title">Что скачать?</div>
                <div class="movies-inner">
                    <!-- Pastdagi div tegini back-endda template tegiga o'zgartiring -->
                    <div class="temp">
                        <li>
                            <div class="temp__movie-info">
                                <img src="movie-detail.html" class="temp__image">
                                <span>
                                    <a href="movie-detail.html" class="subtitle">Ромасанта: Охота на оборотня</a>
                                    <div class="temp__details details">
                                        <span class="temp__country">Испания /</span>
                                        <span class="temp__country"> 2010 /</span>
                                        <span class="temp__country"> драма, боевики</span>
                                    </div>
                                </span>
                            </div>
                            <a href="movie-detail.html" class="temp__rating-info">
                                <i class="fa-regular fa-star"></i>
                                <span class="temp__rating">7.2</span>
                            </a>
                        </li>
                        <li>
                            <div class="temp__movie-info">
                                <img src="movie-detail.html" class="temp__image">
                                <span>
                                    <a href="movie-detail.html" class="subtitle">Ромасанта: Охота на оборотня</a>
                                    <div class="temp__details details">
                                        <span class="temp__country">Испания /</span>
                                        <span class="temp__country"> 2010 /</span>
                                        <span class="temp__country"> драма, боевики</span>
                                    </div>
                                </span>
                            </div>
                            <a href="movie-detail.html" class="temp__rating-info">
                                <i class="fa-regular fa-star"></i>
                                <span class="temp__rating">7.2</span>
                            </a>
                        </li>
                        <li>
                            <div class="temp__movie-info">
                                <img src="movie-detail.html" class="temp__image">
                                <span>
                                    <a href="movie-detail.html" class="subtitle">Ромасанта: Охота на оборотня</a>
                                    <div class="temp__details details">
                                        <span class="temp__country">Испания /</span>
                                        <span class="temp__country"> 2010 /</span>
                                        <span class="temp__country"> драма, боевики</span>
                                    </div>
                                </span>
                            </div>
                            <a href="movie-detail.html" class="temp__rating-info">
                                <i class="fa-regular fa-star"></i>
                                <span class="temp__rating">7.2</span>
                            </a>
                        </li>
                        <li>
                            <div class="temp__movie-info">
                                <img src="movie-detail.html" class="temp__image">
                                <span>
                                    <a href="movie-detail.html" class="subtitle">Ромасанта: Охота на оборотня</a>
                                    <div class="temp__details details">
                                        <span class="temp__country">Испания /</span>
                                        <span class="temp__country"> 2010 /</span>
                                        <span class="temp__country"> драма, боевики</span>
                                    </div>
                                </span>
                            </div>
                            <a href="movie-detail.html" class="temp__rating-info">
                                <i class="fa-regular fa-star"></i>
                                <span class="temp__rating">7.2</span>
                            </a>
                        </li>
                        <div class="temp__pages">
                            <div class="temp__pages-inner">
                                <button class="temp__pages--button">Назад</button>
                                <span class="temp__pages--text">1</span>
                                <span class="temp__pages--text">2</span>
                                <span class="temp__pages--text">3</span>
                                <span class="temp__pages--text">4</span>
                                <span class="temp__pages--text">5</span>
                                <span class="temp__pages--text">6</span>
                                <span class="temp__pages--text">7</span>
                                <span class="temp__pages--text">...</span>
                                <span class="temp__pages--text">888</span>
                                <button class="temp__pages--button temp__pages--button-2">Дальше</button>
                            </div>
                            <div class="temp__pages-inner">
                                <span>Страница №</span>
                                <input class="temp__pages--input" type="text" placeholder="1">
                                <input class="temp__pages--input" type="text" placeholder="из 888.">
                                <button class="temp__pages--button temp__pages--button-2"><i class="fas fa-play"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="footer-inner">
                <div class="footer__left details">
                    <i class="fas fa-envelope"></i>kinovasek@gmail.com
                </div>
                <div class="footer__right">
                    <a href="#">
                        <img src="./image/hit.gif" alt="hit" class="footer__right--image">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>